/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

h1 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
}

header {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
}

.daily_recipe {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 11px;
  font-weight: 700;
}

h2 {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 24px;
  line-height: 1.2;
}

p {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 16px;
  line-height: 1.2;
}

.author {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.storage-recipe {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 20px;
  line-height: 1.2;
}

footer {
  text-align: left;
}

.About {
  font-family: 'Sorts Mill Goudy', serif;
  font-size: 20px;
  line-height: 1.2;
}

ul {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 16px;
}

/* ====================================
// base rules
// ==================================== */
